/* Webfont: LeBorn */@font-face {
    font-family: 'LeBorn';
    src: url('LeBorn.woff2') format('woff2'), /* Modern Browsers */
         url('LeBorn.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

